@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

html {
  background-color: #F0FAFB;
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}

.hero {
  background: url('/images/bg-header-desktop.svg');
  background-color: #5DA5A4;
  background-size: cover;
  height: 160px;
}

.hero .box {
  height: 75px;
  margin-top: 75px;
}

.hero .box .tag {
  margin-top: 5px;
  margin-left: 10px;
}

.hero .clearSearch {
  line-height: 38px;
  font-weight: bold;
  margin-right: 10px;
}

.hero .clearSearch:hover {
  cursor: pointer;
  color: #5DA5A4;
  text-decoration: underline;
}

#jobs {
  margin-top: 35px;
}

.box {
  height: 155px;
}

.box .workName {
  color: #5DA5A4;
  margin-right: 8px;
}

.box .jobName {
  font-size: 18px;
  color: #2B3735;
}

.box .jobName:hover {
  color: #5DA5A4;
  cursor: pointer;
}

.box .tag:not(body).is-primary {
  background-color: #5DA5A4;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

.box .is-delete.tag:not(body).is-primary:hover {
  background-color: #2B3735;
  color: #fff;
}

.box .tag:not(body).is-dark {
  background-color: #2B3735;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

.box .tag:not(body).is-success.is-light {
  background-color: #F0FAFB;
  color: #5DA5A4;
  font-weight: bold;
}

.box .tag:not(body).is-success.is-light:hover {
  background-color: #5DA5A4;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.box .media {
  padding-top: 10px;
}

.box .content p {
  line-height: 32px;
}

.box .media-content span {
  margin-left: 5px;
}

.box .media-right span {
  margin-top: 30px;
  margin-right: 15px;
}

.box .fa-circle {
  font-size: 3px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
  color: #9A9F9E;
}

.box p {
  color: #9A9F9E;
}

.footer {
  background-color: #F0FAFB;
}

.footer a {
  color: #5DA5A4;
}

/* Responsive Props */

@media only screen and (max-width: 768px) {
  .hero {
    background: url('/images/bg-header-mobile.svg');
    background-color: #5DA5A4;
    background-size: cover;
  }

  .hero .box {
    height: auto;
    min-height: 75px;
    margin-top: 75px;
  }

  .image {
    position: absolute;
  }

  .image img.is-rounded {
    margin-top: -50px;
    margin-left: 10px;
  }

  #jobs .box {
    height: auto;
  }

  #jobs .box:not(:last-child){
    margin-bottom: 2.5rem;
  }

  .hrLine {
    border: 1px solid #d4dad9;
    margin-bottom: 0;
  }

  .languagesMobile span {
    margin-top: 15px;
    margin-right: 15px;
  }
}